#main {
    background: linear-gradient( to right, rgb(43, 124, 156), #9cf0c6);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
  }
  
  .to-left {
    display: inline-block;
    text-align: right;
    width: 40%;
    margin-left: 10%;
    font-size: 18px;
    font-weight: bold;

  }
  .to-right {
    margin-left: 50%;
    text-align: left;
    font-size: 12px;
  }
